$navbar-font-color: #daa520;
$navbar-color: #1c1c1c;
$text-color: #000000;


.nav-bar{
    display: flex;
    align-items: center;
    background-color: $navbar-color;
    width: 100%;
    height: 68px;

    a{
        font-family: "Rajdhani", sans-serif;
        display: block;
        color: $navbar-font-color;
        padding: 23px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    a.initial-page {
        margin-left: 45px;
    }
    a:hover {
        background-color: $text-color;
        color: $navbar-font-color;
    }
    .icon {
        display: none;
}   
}

.right {
  display: flex;
  align-items: center;
}
/* </nav-bar> */