$navbar-font-color: #daa520;
$navbar-color: #1c1c1c;
$text-color: #000000;

@import url("./about/about.css");
@import url("./navbar/navbar.css");
@import url("./login/login.css");
@import url("./signup/signup.css");

body{
    font-family: "Rajdhani", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html{scroll-behavior: smooth;}

h1, h2, h3{
    font-family: "Rajdhani", sans-serif;
    font-size: 2;
    color: $text-color;
    width: 100%;
    height: 50px;
}

p {
    font-size: 1.4em;
    font-family: "Rajdhani", sans-serif;
    text-align: justify;
    width: auto;
    height: auto;
    margin-right: 60px;
    margin-left: 60px;
}

main {
    margin: 0 auto;
    width: 100%;
}

main h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
}

main h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  width: 100%;
  position: relative;
}
main a {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  width: 100%;
  position: relative;
}
 
.input-field span{
  align-items: left;
  display: block;
  padding-top: 1px;
  padding-bottom: 11px; color: #ad5959;
  font-size: 15px;
}







/* <images> */

.landing-page {
  max-width: 713px;
  width: 100%;
  height: 395px;
}



.newuser-welcome{
  width: 613px;
  height: 380px;
  margin: 20 auto;
  max-width: 100%;
}

.user-welcome{
  width: 513px;
  height: 460px;
  margin: 20 auto;
  max-width: 100%;
}


/*  </images> */

/* <container> */

h2 {
  margin-top: 1px;
}



.input-field {
  position: relative;
  width: 360px;
  
}


